
        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%; 
        }
        input:focus {
            border-color: #007bff;
            outline: none;
        }
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            width: 100%; 
        }
        button:hover { background-color: #0056b3; }
        div {
            display: flex;
            flex-direction: column;
            width: 200px;
            justify-content: center;
            align-items: center;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    